@import "tailwindcss";

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: plusJakartaSans;
    src: url("./assets/fonts/PlusJakartaSans[wght].ttf");
}

body {
    background: linear-gradient(#32383d 0%, #1B1D21 100%, #191B1F 100%);
}

.tabs {
    box-shadow: 5.67px 5.67px 3.78px rgba(0, 0, 0, 0.4);
}

.question-mark {
    background: linear-gradient(90deg, #4A4E54 0%, #A3ADBA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-group {
    box-shadow: inset 0px 4.96px 12.4px 2.48px rgba(0, 0, 0, 0.25);
}

.activebutton {
    background: #28282F;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.overly-btn {
    box-shadow: -8.43px -16.87px 60px -16.87px #4d6888,
        13.49px 16.87px 75px 8.43px #0a0a0a;
    transition: 0.5s all ease-in;
    z-index: 3;
}

.btn {
    width: 12.188em;
    height: 3.063em;
    overflow: hidden;
    position: relative;
    z-index: 4;
    cursor: pointer;
}

.btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #202021;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s all ease;
    z-index: -2;
}

.btn:hover::before {
    transform: translateX(0%);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #888989 0%, #4A4E54 100%);
    border-radius: 8px;
    min-height: 64px !important;
    box-shadow: 4px 4px 4.9px rgba(0, 0, 0, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.gallery-part {
    box-shadow: 5.67px 5.67px 3.78px rgba(0, 0, 0, 0.4);
}

.add-img-btn {
    box-shadow: 9px 10px 7.1px rgba(0, 0, 0, 0.4),
        -0.5px -0.5px 6.9px rgba(255, 255, 255, 0.25),
        inset 0px 3.26px 3.26px rgba(255, 255, 255, 0.15),
        inset 0px 0px 48.91px rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.icon {
    background: linear-gradient(180deg, #303439 0%, #161718 100%);
    box-shadow: 4px 5px 30px 5px #101213,
        -5px -3px 30px -10px #98BEF7;
    cursor: pointer;
    transition: 0.5s ease;
}

.icon:hover {
    background: linear-gradient(180deg, #303439 0%, #161718 100%);
    box-shadow: 4px 5px 30px 5px #101213,
        -5px -3px 30px -10px #98BEF7;
    background: #9AB0C4;
}

.gallery-img {
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.gallery-img:hover {
    filter: grayscale(0%);
}

.gallery-img-box {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.gallery-img-box:hover {
    transform: scale(1.2) rotate(-3deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.04);
}